body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  font-size: 18px;
}

header {
  background-color: #1f2937;
  padding: 16px;
  gap: 32px;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

li {
  list-style-type: none;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 40px 0;
  padding: 0;
}

.right-header {
  display: flex;
  gap: 16px;
}

.left-header {
  font-size: 24px;
  font-weight: bold;
}

.right-header a {
  color: #e5e7ebb6;
}

#header {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

button {
  background-color: #3882f6;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 32px;
  font-size: 18px;
}

.container {
  display: flex;
  gap: 32px;
  margin: 64px 0;
}

.header-content,
.image {
  flex: 1;
  color: #e5e7ebb6;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6b747a;
}

.square {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  border: 5px solid #3882f6;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

#main-content-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.sliders {
  display: flex;
  gap: 32px;
}

.slider p {
  max-width: 200px;
  text-align: center;
  color: #646465;
}

.quotes {
  background-color: #e5e7eb;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-box {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 8px;
  padding: 16px;
}

.quote-box p {
  font-size: 36px;
  color: #1e2937;
  font-style: italic;
  font-weight: 300;
  margin: 0;
}

#thor {
  align-self: flex-end;
  font-size: 24px;
  color: #1e2937;
  font-weight: 900;
  font-style: normal;
}

footer {
  background-color: #1f2937;
  color: white;
}
